
body{
background: rgb(131,58,180);
background: linear-gradient(90deg, rgb(114, 181, 186) 0%, rgba(150, 84, 231, 0.673) 50%, rgba(73, 197, 210, 0.673) 100%);
font-family: sans-serif;
color: white;
}

video {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


main{
    width: 730px;
    margin: 30px auto;
    display: flex;
}
.section1{
    background-color: rgba(29,207,253,0.6727065826330532);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
} 
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(29,207,253,0.6727065826330532);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0% 20px;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box  ;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}
img{
   width: 80%;
}

/*Solucion de errores*/

.titulo-h {
    display: none;
}

/* media queries */

@media (max-height: 414px) {

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 105%;
        min-height: 100%;
        transform: translateX(calc((100% - 311vw) / 2));
        z-index: -2;
    }

    main {
        margin: auto;
        gap: 83px;
        
    }
    .titulo {
        display: none;
    }
    .titulo-h {
        display: block;
    }
    button {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 38px;
        font-family: fantasy;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 14px;
        color: #ffffff;
        -webkit-text-stroke: 2px #1f8faf;
    }
    
    .estadisticas {
        height: auto;
        font-weight: 300;
    }
    .section1 {
        padding: 15px;
    }
    .section2 {
        height: 306px;
        border-radius: 8px;
        margin: auto 0;
        margin-top: -7px;
        background-color: rgb(255 255 255 / 0%);
    }

    .est-1{
        background-color: #209731;
    }
    .est-2 {
        background-color: orange;
    }

    .est-3 {
        background-color: #2190b2;
    }
    .w-33 {
        position: absolute;
        right: 100px;
        bottom: 11px;
    }
}

/* Boton jugar de nuevo */

.reset{
    width: 200px;
    height: 42px;
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    background-color: rgba(29,207,253,0.6727065826330532);
    border-radius: 8px;  
    border-color: rgba(29, 208, 253, 0.274);
    font-size: 18px;
}
  
div.center {
    text-align: right;
  }

 